{%extends "base.html" %}

{% block title %} Registracija {% endblock title %}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="page-header">
            <h1>Registracija novega uporabnika </h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>
</div>

{% if error %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="alert alert-warning">
                <p>
                    <span class="krepko">Opozorilo: </span> {{error}}
                </p>
            </div>
        </div>
    </div>
    {% endif %}


    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <p>
                <form action="" method="post">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label>Uporabniško ime</label>
                        {{ form.username(placeholder="uporabnik", class="form-control") }}
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                                <span class="krepko text-danger" > {{ error}}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label>E-mail</label>
                        {{ form.email(placeholder="email", class="form-control") }}
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <span class="krepko text-danger" > {{ error}}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label>Geslo</label>
                       {{ form.password(placeholder="geslo", class="form-control") }}
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <span class="krepko text-danger" > {{ error}}</span>
                            {% endfor %}
                        {% endif %}

                    </div>
                    <div class="form-group">
                        <label>Ponovi geslo</label>
                       {{ form.confirm(placeholder="geslo", class="form-control") }}
                        {% if form.confirm.errors %}
                            {% for error in form.confirm.errors %}
                                <span class="krepko text-danger" > {{ error}}</span>
                            {% endfor %}
                        {% endif %}

                    </div>
                    <br>
                    <button type="submit" class="btn btn-success">
                       Registriraj se
                    </button>
                </form>
                <br>
            </p>
        </div>
    </div>
 </div>
{% endblock content %}
